## Problem 3: How long distance individuals have travelled? (40 points)

In this problem the aim is to calculate the distance in meters that the individuals have travelled according the social media posts (Euclidean distances between points). In this problem, we will need the `userid` -column and the points created in the previous problem. You will need the shapefile `Kruger_posts.shp` generated in Problem 2 as input file.

Our goal is to answer these questions based on the input data:

 - What was the shortest distance travelled in meters?
 - What was the mean distance travelled in meters?
 - What was the maximum distance travelled in meters?

**In your code, you should first:**
 - Import required modules
 - Read in the shapefile as a geodataframe called `data`

In [1]:
import os
import geopandas as gpd
import matplotlib.pyplot as plt
from shapely.geometry import Polygon, Point, LineString
import pandas as pd
from pyproj import CRS
from shapely import wkt
import numpy as np

In [2]:
# YOUR CODE HERE
data = gpd.read_file("Kruger_posts.shp")

 - Check the crs of the input data. If this information is missing, set it as epsg:4326 (WGS84).
 - Reproject the data from WGS84 to `EPSG:32735` -projection which stands for UTM Zone 35S (UTM zone for South Africa) to transform the data into metric system. (don't create a new variable, update the existing variable `data`!)

In [3]:
# YOUR CODE HERE
data.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [4]:
data = data.to_crs(32735)

In [5]:
data.crs

<Derived Projected CRS: EPSG:32735>
Name: WGS 84 / UTM zone 35S
Axis Info [cartesian]:
- E[east]: Easting (metre)
- N[north]: Northing (metre)
Area of Use:
- name: Between 24°E and 30°E, southern hemisphere between 80°S and equator, onshore and offshore. Botswana. Burundi. Democratic Republic of the Congo (Zaire). Rwanda. South Africa. Tanzania. Uganda. Zambia. Zimbabwe.
- bounds: (24.0, -80.0, 30.0, 0.0)
Coordinate Operation:
- name: UTM zone 35S
- method: Transverse Mercator
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [6]:
# NON-EDITABLE CODE CELL FOR TESTING YOUR SOLUTION
print(data.head())

         lat        lon         timestamp    userid  \
0 -24.980792  31.484633  2015-07-07 03:02  66487960
1 -25.499225  31.508906  2015-07-07 03:18  65281761
2 -24.342578  30.930866  2015-03-07 03:38  90916112
3 -24.854614  31.519718  2015-10-07 05:04  37959089
4 -24.921069  31.520836  2015-10-07 05:19  27793716

                         geometry
0  POINT (952912.890 7229683.258)
1  POINT (953433.223 7172080.632)
2  POINT (898955.144 7302197.408)
3  POINT (956927.218 7243564.942)
4  POINT (956794.955 7236187.926)

In [7]:
# NON-EDITABLE CODE CELL FOR TESTING YOUR SOLUTION
# Check that the crs is correct after re-projecting (should be epsg:32735)
print(data.crs)

epsg:32735

In [8]:
data

,lat,lon,timestamp,userid,geometry
0,-24.980792,31.484633,2015-07-07 03:02,66487960,POINT (952912.890 7229683.258)
1,-25.499225,31.508906,2015-07-07 03:18,65281761,POINT (953433.223 7172080.632)
2,-24.342578,30.930866,2015-03-07 03:38,90916112,POINT (898955.144 7302197.408)
3,-24.854614,31.519718,2015-10-07 05:04,37959089,POINT (956927.218 7243564.942)
4,-24.921069,31.520836,2015-10-07 05:19,27793716,POINT (956794.955 7236187.926)
...,...,...,...,...,...
81374,-24.799541,31.354469,2015-09-05 02:23,90744213,POINT (940395.058 7250220.045)
81375,-25.467992,30.956033,2015-02-05 02:40,71109799,POINT (897877.380 7177317.787)
81376,-25.332223,30.997409,2015-08-05 02:40,54796261,POINT (902494.313 7192250.813)
81377,-25.508851,31.005536,2015-08-05 02:43,78762204,POINT (902724.670 7172637.035)
81378,-25.498840,31.007430,2015-04-05 02:44,32190273,POINT (902948.779 7173741.587)

 - Group the data by userid

In [9]:
grouped = data.groupby('userid')

In [10]:
# NON-EDITABLE CODE CELL FOR TESTING YOUR SOLUTION
assert len(grouped.groups) == data["userid"].nunique(), "Number of groups should match number of unique users!"

In [11]:
# NON-EDITABLE CODE CELL FOR TESTING YOUR SOLUTION
assert len(grouped.groups) == data["userid"].nunique(), "Number of groups should match number of unique users!"

**Then:**
- Create an empty GeoDataFrame called `movements`
- Create a for-loop where you iterate over the grouped object. For each user's data: 
    - [sort](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html) the rows by timestamp 
    - create a LineString object based on the user's points
    - add the geometry and the userid into the `movements` dataframe (one userid per row). You can achieve this either by using the `.at` indexer, or the `append` method. See hints for more help.
- Set the CRS of the ``movements`` GeoDataFrame as ``EPSG:32735``

In [12]:
# YOUR CODE HERE
movements = gpd.GeoDataFrame({'geometry':[]})

count=0

for key, group in grouped:
    
    group = group.sort_values("timestamp")
    
    if len(group["geometry"])>=2:
        line = (LineString(list(group["geometry"])))
    
    else:
        
        line = None
        
    
    movements.at[count, "userid"] = key
    
    movements.at[count, "geometry"] = line
    
    count = count + 1 
    
    movements.crs = CRS.from_epsg(32735)

In [13]:
# NON-EDITABLE CODE CELL FOR TESTING YOUR SOLUTION
movements.head()

                                            geometry   userid
0  LINESTRING (942231.630 7254606.868, 938934.725...  16301.0
1                                               None  26589.0
2                                               None  29322.0
3                                               None  42181.0
4  LINESTRING (905394.500 7193375.148, 905394.500...  45136.0

**Finally:**
- Check once the crs definition of your dataframe (should be epsg:32735, define the correct crs if this information is missing)
- Calculate the lenghts of the lines into a new column called ``distance`` in ``movements`` GeoDataFrame.

In [18]:
# YOUR CODE HERE

def cal_distance(x):
    if x['geometry']is None:
        return None
    else:
        return x['geometry'].length
    
movements['distance']=movements.apply(cal_distance,axis=1)

In [19]:
# NON-EDITABLE CODE CELL FOR TESTING YOUR SOLUTION
movements.head()

                                            geometry   userid      distance
0  LINESTRING (942231.630 7254606.868, 938934.725...  16301.0  328455.11543
1                                               None  26589.0           NaN
2                                               None  29322.0           NaN
3                                               None  42181.0           NaN
4  LINESTRING (905394.500 7193375.148, 905394.500...  45136.0       0.00000

You should now be able to print answers to the following questions: 

 - What was the shortest distance travelled in meters?
 - What was the mean distance travelled in meters?
 - What was the maximum distance travelled in meters?

In [24]:
from statistics import mean
print(mean(movements['distance'].dropna()))
print(max(movements['distance'].dropna()))
print(min(movements['distance']))

107133.51202944394
6970668.816343964
0.0

- Finally, save the movements of into a Shapefile called ``some_movements.shp``

In [25]:
# YOUR CODE HERE
fp="some_movements.shp"

movements.to_file("some_movements.shp")

C:\Users\IBRAHIM YEGEN\anaconda3\envs\gmtx\lib\site-packages\geopandas\io\file.py:362: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  pd.Int64Index,

In [26]:
# NON-EDITABLE CODE CELL FOR TESTING YOUR SOLUTION
import os
assert os.path.isfile(fp), "output shapefile does not exits"